* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(211, 211, 211);
}
img {width: 100%;}
/*NAVBAR*/
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-container h1 {
  font-size: 40px;
  color: white;
  font-family: cursive;
  line-height: 60px;
  user-select: none;
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links li {
  list-style: none;
  padding: 0px 25px;
}
.nav-links img {
  cursor: pointer;
  user-select: none;
  -webkit-user-drag: none;
}
.active {border-bottom: 3px solid #fff;}
/*PRODUCTS*/
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 50px 0px;
  grid-gap: 2rem;
}
.product {
  background-color: rgb(255, 255, 255);
  padding: 0px 15px;
  border-radius: 2px
}
.header h2 {
  text-align: start;
  font-size: 28px;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px
}
.footer p {
  font-size: 22px;
  font-weight: 600;
}
.footer span {
  font-weight: bold;
  color: rgb(219, 37, 255);
}
.footer button {
  padding: 10px 12px;
  outline: none;
  border: 0;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: ease-in-out .5s;
  background: linear-gradient(to bottom left, #3366ff 0%, #ff66ff 100%);
  color: white;
}
.footer button:hover {
  background: linear-gradient(to top right, #3366ff 0%, #ff66ff 100%);
}
/*SINGLE-PRODUCT*/
.single-product {
  display: grid;
  grid-template-columns: repeat(2, 1fr );
  grid-gap: 2rem;
  margin: 60px 0px;
  background-color: #fff;
  padding: 10px;
  border-radius: 3px;
}
.single-product-desc {
  padding: 30px 25px;
}
.single-product-desc h2 {
  font-size: 30px;
  margin: 0;
}
.single-product-desc .desc{
  font-size: 15px;
  padding: 20px 0px;
}
.single-product-desc li {
  padding: 2px 0px;
  font-weight: bold;
  list-style: decimal;
}
.single-product-desc li span {
  font-weight: lighter !important;
  margin-left: 20px;
}
.single-product-desc p {
  font-size: 22px;
  font-weight: 600;
  margin-top: 15px;
}
.single-product-desc p span {
  font-weight: bold;
  color: red;
}

/*CART*/
.cart-container {
  max-width: 700px;
  margin: auto;
}
.cart {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px;
  border-radius: 2px;
  padding: 10px 20px;
}
.cart .title-price {flex: 5}
.cart .img {flex: 3}
.cart .quantity {flex: 2}
.cart .del-btn {flex: 1}
.cart h2 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}
.cart p {
  font-size: 18px;
  padding-top: 8px;
}
.cart p span {
  font-weight: bold;
  color: rgb(236, 49, 49);
}
.cart img {
  width: 130px;
  height: 100px;
}
.cart .quantity {
  font-size: 20px;
  user-select: none;
}
.quantity span:not(.quantity span:nth-child(2)) {
  cursor: pointer;
  padding: 0px 4px;
}
.cart button {
  background-color: red;
  color: white;
  padding: 8px 10px;
  outline: none;
  border: 0;
  cursor: pointer;
}
